/**
 * Settings
 *
 * This file contains all site-wide variables, e.g. colors or font-size.
 */


/*----------------------------------------------------*\
    #COLORS
\*----------------------------------------------------*/

$theme-a: #fedfed;
$theme-b: #dfdfdf;
$theme-c: #ef73fd;

$theme-a-highlight: #ffeffd;
$theme-b-highlight: #efefef;
$theme-c-highlight: #fb95ff;

$theme-text: #222;
$theme-background: #f5f5f5;





/*----------------------------------------------------*\
    #FONTS
\*----------------------------------------------------*/

$font-default: Helvetica, Arial, sans-serif;
$font-heading: Georgia, Palatino, 'Palatino Linotype', Times, serif;
